@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    width: 100vw;
    height: 80px;
    background-color: #152237;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    .nav-left,
    .nav-center,
    .nav-right {
        width: 33%;
    }
}



.nav-left {
    display: flex;
    flex-direction: row;

    .img {
        width: 84px;
        height: 31px;
        margin-left: 98px;

    }

    .formation {

        justify-content: center;

        a {
            width: 110px;
            height: 18px;
            position: absolute;
            top: 31px;
            /* left: 350px; */
            margin-left: 6%;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 15px;
            line-height: 100%;
            letter-spacing: -1.5%;
            text-align: center;
            vertical-align: middle;
            color: #FFFFFF;
            margin-right: 143px;

        }
    }
}

.nav-center {
    .recherche {
        width: 100%;
        height: 40px;
        opacity: 1;
        top: 20px;
        left: 603px;
        border-radius: 4px;
        background: #152237;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        padding: 10px;

    }

}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    ;

    ul {
        list-style: none;
        display: flex;
        gap: 15px;

    }

    .inscription,
    .connexion {
        display: block;
        align-content: center;
        text-align: center;
        width: 130px;
        height: 40px;
        opacity: 1;
        top: 20px;
        border-radius: 6px;
    }

    .connexion {
        background: #FFFFFF;
    }

    .inscription {
        background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    }

}

a {
    text-decoration: none;
    color: black;
}

.inscr_conec {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;

}

/*deuxieme bloc*/
.img-bg {
    width: 100%;
    height: 451px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-image:
        linear-gradient(94.01deg,
            rgba(68, 221, 138, 0.8) 3.11%,
            rgba(21, 183, 226, 0.8) 98.45%),
        url("../image/bg-header.png");
    background-size: cover;
    background-position: center;
    word-break: keep-all;

    h1 {
        font-family: Montserrat;
        font-weight: 800;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -1.5%;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;

    }

    p {
        margin: 15px;
        font-family: Montserrat;
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -1.5%;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        line-break: auto;

        width: 711px;
        height: 24px;
        opacity: 1;
        top: 216px;
        left: 484px;


    }

    .en-savoir-plus {
        margin-top: 10px;
        width: 130px;
        height: 40px;
        border-radius: 6px;
        border: none;
        background: #FFFFFF;
    }
}

.formations-recentes,
.formations-populaires {
    height: 72px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 36px;
    line-height: 72px;
}

.formations-recentes {
    padding-top: 30px;
}

.container-cadre {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 43px;

}

.container-cadre .cadre {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 307px;
    height: 362px;

    .prix {
        width: 120px;
        height: 31.5px;
        opacity: 1;
        border-radius: 93px;
        position: absolute;
        top: 182px;
        left: 168px;
    }
}


.description {
    margin: 21px 0 11px 14px;

    .titre {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -1.5%;

    }

    p {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0%;

    }

    .etoiles {
        height: 19px;

    }
}

.btn-plus-formations-recentes,
.btn-plus-formations {
    width: 100%;
    height: 40px;
    opacity: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 225px;
        height: 40px;
        opacity: 1;
        border-radius: 6px;
        border: none;
    }

}

.btn-plus-formations {
    button {

        background: #152237;
        color: #FFFFFF;
    }
}

.btn-plus-formations-recentes {
    button {

        background: #FFFFFF;
        color: #152237;
    }
}

#container-carde {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Mobile */
@media (max-width: 768px) {
    #container-carde {
        grid-template-columns: 1fr;
    }
}


#formation-populaire {
    width: 100%;
    height: 632px;
    /*display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;*/

}

.bnt {
    width: 100%;
    height: 40px;
    opacity: 1;
    top: 541px;
    left: 775px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

#container-carde2 {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
}

#formation-populaire2 {
    width: 100%;
    height: 632px;
    /*display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;*/
    background-color: #152237;
    color: #FFFFFF;


}

.bnt {
    width: 100%;
    height: 40px;
    opacity: 1;
    top: 541px;
    left: 775px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

#mes-image {
    display: flex;
}

/*les avis clients*/
#container-avis {
    width: 100%;
    height: 597px;
    opacity: 1;
    top: 1794px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.img-ronde {
    opacity: 1;
    top: 160px;
    left: 150px;
    border-radius: 50%;
    display: flex;


}

.bloc1 {
    width: 689px;
    height: 306px;
    opacity: 1;
    top: 160px;
    left: 150px;
    margin-right: 120px;


}

.client {
    height: 36px;
    margin-top: 58px;
    margin-bottom: 66px;
    font-family: Montserrat;
    font-weight: 900;
    font-style: Black;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-transform: uppercase;

}

.bloc2 {
    width: 665px;
    height: 306px;
    opacity: 1;
    top: 160px;
    left: 863px;
    margin-left: 120px;

}

.img-ronde2 {
    width: 665;
    height: 306;
    opacity: 1;
    top: 160px;
    left: 863px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.avis-nom {
    width: 686px;
    height: 36px;
    top: 300px;
    left: 153px;
    opacity: 1;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1.5%;

}

.p1 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -1.5%;
}

.p2 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    /*leading-trim: NONE;*/
    line-height: 30px;
    letter-spacing: -1.5%;

}

/*Les avantages*/
.les-avantages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background: #F5F5F5;

}

.img-teste {
    display: flex;
    flex-direction: column;

}

.icone-ul {
    display: flex;
    justify-content: center;


}

.p-avantage {
    width: 616;
    height: 295;
    opacity: 1;
    top: 169px;
    left: 163px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.5%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;

}

.icones {
    width: 30;
    height: 265;
    opacity: 1;
    top: 169px;
    left: 98px;
}

.h2 {
    margin-bottom: 50px;

}

.img-avanta {
    width: 727px;
    height: 472px;
    opacity: 1;
    top: 76px;
    left: 850px;


}

/*bloc6*/
.creez-vos-formation {
    width: 1680px;
    height: 641px;
    opacity: 1;
    top: 3032px;
    left: 1px;
    background: #44DD8A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-teste-cree {
    display: flex;
    flex-direction: row;
}

.img-creezvos-formations {
    width: 729px;
    height: 487px;
    opacity: 1;
    top: 76px;
    left: 101px;


}

.titrebloc {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: Black;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-transform: uppercase;
    width: 686px;
    height: 93px;
    opacity: 1;
    top: 79px;
    left: 912px;


}

.ul-creez {
    /* width: 616px;
    height: 352px; */
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.5%;
    list-style-type: none;
    padding-right: 30px;
}

.ul-creez li {
    opacity: 1;
    top: 211px;
    left: 977px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.5%;
    list-style-type: none;
}

/* .klivio {

} */

.icone3 {
    width: 30px;
    height: 328px;
    opacity: 1;
    top: 211px;
    left: 908px;
}

/*bloc7****A PROPOS DE NOUS*/
.propos {
    width: 1680px;
    height: 740px;
    opacity: 1;
    top: 3673px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background: #F5F5F5;
}

.ul-propos {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -1.5%;
    width: 686px;
    height: 295px;
    opacity: 1;
    top: 261px;
    left: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}

.img-propos {
    width: 430px;
    height: 155px;
    opacity: 1;
    top: 292px;
    left: 1050px;
}

.bloc-img {
    width: 830px;
    height: 740px;
    opacity: 1;
    left: 850px;
    background: #152237;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;


}

/*bloc-nous-contacter*/
.container-contacter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nous-contacter {
    width: 1680px;
    height: 641px;
    opacity: 1;
    top: 3032px;
    left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#nom {
    width: 599px;
    height: 45.25px;
    opacity: 1;
    top: 4603px;
    left: 172px;
    background: #152237;
    margin-bottom: 55px;
    margin-right: 115px;
}

#mail {
    width: 598.75px;
    height: 45.30px;
    opacity: 1;
    top: 4602px;
    left: 909px;
    background: #152237;


}

#message {
    width: 1335px;
    height: 194.63px;
    opacity: 1;
    top: 4704px;
    left: 172px;
    background: #152237;
    color: white;
}

.bnt-envoi {
    width: 351.56px;
    height: 45.3px;
    opacity: 1;
    top: 4953.28px;
    left: 664.43px;
    background: #44DD8A;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

.container-contacter h2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: Black;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-transform: uppercase;
    width: 400px;
    height: 36px;
    opacity: 1;
    top: 4473px;
    left: 644px;
    margin-bottom: 94px;
    text-align: center;
}

.ligne-contact {
    width: 350px;
    height: 0px;
    opacity: 1;
    top: 4548px;
    left: 665px;
    border-width: 1px;
    border: 1px solid #44DD8A;
    margin-bottom: 54px;
}

/*mon footer*/
.mon-footer {
    width: 1680px;
    height: 489px;
    opacity: 1;
    top: 5076px;
    background: #152237;
}

.logo-footer {
    width: 243px;
    height: 87px;
    opacity: 1;
    top: 109px;
    left: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.les-mensions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;

}

.ul-footer {
    width: 173px;
    height: 135px;
    opacity: 1;
    top: 120px;
    left: 627px;
    list-style-type: none;
}

.ul-footer2 {
    width: 192px;
    height: 144px;
    opacity: 1;
    top: 120px;
    left: 865px;
    list-style-type: none;


}

.row {
    display: flex;
    flex-direction: row;
}

.ligne-footer {
    width: 1680px;
    height: 18px;
    opacity: 1;
    background: linear-gradient(90.01deg, #44DD8A 2.38%, #18A0FB 100%);

}

.ligne {
    width: 1482px;
    height: 2px;
    opacity: 1;
    top: 292px;
    left: 96px;
    background: #44DD8A;

}

.reseaux-sociaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 297px;
    height: 30px;
    opacity: 1;
    top: 332px;
    left: 1281px;
}

.ul-footer li,
.ul-footer2 p {
    color: #FFFFFF;
}

.h5 {
    width: 173px;
    height: 24px;
    opacity: 1;
    top: 120px;
    left: 627px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -1.5%;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.connect-inscrip {
    list-style-type: none;

    .connect {
        width: 130px;
        height: 40px;
        opacity: 1;
        top: 120px;
        left: 1448px;
        border-radius: 6px;
        background: #FFFFFF;
        text-align: center;
        margin-bottom: 12px;
        display: block;
        align-content: center;
        text-align: center;

    }

    .inscrip {
        width: 130px;
        height: 40px;
        opacity: 1;
        top: 172px;
        left: 1448px;
        border-radius: 6px;
        background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
        text-align: center;
        display: block;
        align-content: center;
        text-align: center;
    }
}