* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    width: 1680px;
    height: 80px;
    background-color: #152237;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    .nav-left,
    .nav-center,
    .nv-right {
        width: 33%;
    }
}



.nav-left {

    .img {
        width: 84px;
        height: 31px;
        /* margin-top: 25px;*/
        margin-left: 98px;

    }

    .formation {
        width: 110px;
        height: 18px;
        position: absolute;
        top: 31px;
        left: 350px;

        font-family: Montserrat;
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: -1.5%;
        text-align: center;
        vertical-align: middle;
        color: #FFFFFF;


    }
}

.nav-center {
    .recherche {
        width: 477px;
        height: 40px;
        opacity: 1;
        top: 20px;
        left: 603px;
        border-radius: 4px;
        background: #152237;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        padding: 10px;

    }

}

.nav-right {

    ul {
        list-style: none;
        display: flex;
        gap: 15px;

    }

    .inscription,
    .connexion {
        display: block;
        align-content: center;
        text-align: center;
        width: 130px;
        height: 40px;
        opacity: 1;
        top: 20px;
        border-radius: 6px;
    }

    .connexion {
        background: #FFFFFF;
    }

    .inscription {
        background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    }

}

a {
    text-decoration: none;
    color: black;
}

.inscr_conec {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;

}